@import "./../../../styles/styles.scss";

section {
    width: 100%;
    display: flex;
    align-items: center;
    padding: $component-padding;
    box-sizing: border-box;
    position: relative;
    background: $bg-white;
    overflow: hidden;
    .lets-work,
    .about-me {
        padding: $container-padding;
        width: 50%;
    }
    h2 {
        @include h2;
        font-size: clamp(50px, 13vw, 88px);
        line-height: clamp(50px, 13vw, 88px);
    }
}

.i-am-container {
    @include flex-column;
    padding: 35px 0;
    width: 90%;
    align-items: center;
    gap: 32px;
    > span {
        font-family: $font-baloo;
        font-weight: 700;
        font-size: 40px;
        line-height: 45px;
    }
    .i-am-img-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .located-in-container,
    .about-me-container {
        display: flex;
        gap: 24px;
        align-items: flex-end;
    }
}

.location-img,
.remote-img {
    background-size: contain;
    background-repeat: no-repeat;
}

.located-img-container,
.remote-img-container {
    position: relative;
    cursor: pointer;

    &:hover::before {
        opacity: 1;
    }
}

.located-img-container::before {
    content: url("/assets/img/about-me-icons/location-hover-icon.png");
    @include hover-about-me-icons;
}

.remote-img-container::before {
    content: url("/assets/img/about-me-icons/remote-hover-icon.png");
    @include hover-about-me-icons;
    bottom: 0;
    right: 0;
}

.about-me {
    @include flex-column;
    gap: 32px;
    > span {
        @include span-font-black;
    }
}

.button-container {
    @include gradient-button;
    > button {
        min-width: 215px;
    }
}

.circle0 {
    @include circle-width-xs;
    top: 5vh;
    right: 10vw;
}

.circle1 {
    @include circle-width-m;
    top: -12vh;
    left: 35vw;
}

@media screen and (max-width: 1100px) {
    section {
        flex-direction: column;
        .lets-work,
        .about-me {
            width: 100%;
        }
        .lets-work,
        .button-container {
            text-align: center;
        }
    }
}

@media screen and (max-width: 700px) {
    section {
        padding: $component-padding-responsive;
    }
}

@media screen and (max-width: 650px) {
    .i-am-img-container {
        flex-direction: column;
        align-items: center;
        gap: $gap-40;
    }
}
