<section>
  <div class="lets-work">
    <h2>
      Let's work <br />
      togheter
    </h2>
    <div class="i-am-container">
      <span>I am</span>
      <div class="i-am-img-container">
        <div class="located-in-container">
          <img
            class="location-img"
            src="/assets/img/about-me-icons/location-icon.png"
            alt="location icon"
          />
          <span>located in <br />Ludwigshafen</span>
        </div>
        <div class="about-me-container">
          <img
            class="remote-img"
            src="/assets/img/about-me-icons/remote-icon.png"
            alt="remote icon"
          />
          open to Work <br />
          remote
        </div>
      </div>
    </div>
  </div>

  <div class="about-me">
    <span>
      Do you want to make a change? Do it!
      <br />
      In line with this motto, I would like to introduce myself to you as a
      Frontend Developer from Ludwigshafen am Rhein. A structured, clear, and
      fully functional website is a standard I want to provide to users. For
      this reason, I am ready to take the next milestone and actively build my
      career as a Junior Developer in the frontend. I am passionate about
      delving into code and look forward to identifying and eliminating
      problems.
      <br />
      <br />
      If you feel that I would be a good fit for you and your team, I look
      forward to a personal exchange.
    </span>

    <button class="gradient-button"><a href="#">Send a message</a></button>
  </div>
</section>
