@import "./../../../styles/styles.scss";

section {
    background: $gradient-blue;
    color: white;
    padding: $component-padding;

    > div {
        @include flex-column;
        gap: 8vh;
    }
}

.headline-container {
    @include flex-column;
    align-items: center;
    gap: $gap-40;
    h2 {
        @include h2;
    }
    span {
        font-size: 24px;
        font-family: $font-montserrat;
    }
}

.testimonials {
    display: flex;
    gap: 10%;
    .single-testimonial {
        @include flex-column;
        font-family: $font-montserrat;
        gap: $gap-40;
        .name-title-container {
            @include flex-column;
        }
        .name {
            font-weight: 700;
            font-size: 24px;
        }
        .project {
            font-weight: 400;
            font-size: 16px;
        }
        .opinion {
            font-weight: 400;
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 751px) {
    .single-testimonial {
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .headline-container > h2,
    .headline-container > span {
        text-align: center;
    }
    .testimonials {
        @include flex-column;
        gap: $gap-80;
    }
    .single-testimonial {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    section {
        padding: $component-padding-responsive;
    }
}
