@import "./../../../styles/styles.scss";

section {
    background: $gradient-blue;
    height: fit-content;
    padding: $component-padding;
    box-sizing: border-box;
    @include flex-column;
    align-items: center;
    gap: $gap-40;
}

h2 {
    @include h2;
    color: white;
}

.skill-set-container {
    display: flex;
    gap: clamp(50px, 13vw, 88px);
    flex-wrap: wrap;
    width: 65%;
    justify-content: center;
    .img-text-container {
        @include flex-column;
        align-items: center;
        gap: 16px;
        &:hover {
            cursor: default;
            .skill-icon {
                transform: translateY(-15px);
                transition: transform 125ms ease;
            }
            span {
                font-weight: 600;
            }
        }
    }
    .skill-icon {
        width: 64px;
        height: 64px;
        transition: transform 125ms ease;
    }
    span {
        color: white;
        font-family: $font-montserrat;
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    section {
        padding: $component-padding-responsive;
    }
    .skill-set-container {
        width: 90%;
    }
}
