<nav>
  <div class="space-between">
    <img
      data-aos="flip-up"
      data-aos-duration="1000"
      data-aos-delay="900"
      class="logo"
      src="/assets/img/logo.png"
      alt="logo"
    />
    <div id="nav-desktop" class="nav-container">
      <a [routerLink]="['/']" fragment="about-me">{{
        "about-me" | translate
      }}</a>
      <a [routerLink]="['/']" fragment="skillset">{{
        "skill-set" | translate
      }}</a>
      <a [routerLink]="['/']" fragment="my-work">{{ "my-work" | translate }}</a>
      <a [routerLink]="['/']" fragment="contact">{{ "contact" | translate }}</a>

      <div>
        <button id="german" (click)="switchLanguage('de')">DE</button> |
        <button id="english" (click)="switchLanguage('en')">EN</button>
      </div>
    </div>
    <div id="nav-icon-mobile" (click)="toggleMobile()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <app-mobile-navbar class="mobile-navbar d-none"></app-mobile-navbar>
</nav>
