@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./../styles/typography";
@import "./../styles/mixins";

$component-padding-small: 50px 100px;
$component-padding: 80px 100px;
$component-padding-responsive: 40px 40px;
$container-padding: 35px 35px;

$gap-40: 40px;
$gap-80: 80px;

$bg-white: white;
$primary-blue: #5988ff;
$dark-blue: #0043f0;
$gradient-white: linear-gradient(rgb(255, 255, 255), rgb(233, 239, 255));
$gradient-blue: linear-gradient(135deg, $primary-blue 0%, #4176fb 50%, $dark-blue 100%);

$font-montserrat: "Montserrat", sans-serif;
$font-baloo: "Baloo 2", sans-serif;

html,
body {
  height: 100%;
  background: #f5f5f5;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: $primary-blue;
}

/************************************* SCROLL BAR *************************************/

::-webkit-scrollbar {
  width: 9px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $primary-blue;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: $primary-blue;
}
::-webkit-scrollbar-thumb:active {
  background: $primary-blue;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #ededed;
}
::-webkit-scrollbar-track:active {
  background: #e3e3e3;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
