@import "./../../../styles/styles.scss";

.atf-section {
    height: 100vh;
    padding: $component-padding;
    box-sizing: border-box;
    background: linear-gradient(rgb(255, 255, 255), rgb(233, 239, 255));
}

.circle {
    position: absolute;
    top: -80px;
    left: -100px;
    width: 600px;
    height: 600px;
    z-index: 150;
}
.logo {
    z-index: 250;
    display: flex;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 250px;
    height: 250px;
    filter: invert(1);
}

.headlines-container {
    position: absolute;
    right: 90px;
    top: 20%;
    .headlines {
        @include flex-column;
        align-items: flex-start;
        width: fit-content;
        h2 {
            font-family: $font-baloo;
            font-weight: 400;
            font-size: 64px;
            margin: 0;
        }
        h1 {
            font-family: $font-baloo;
            font-weight: 800;
            font-size: 128px;
            line-height: 128px;
            margin: 0;
        }
    }
}

.profile-picture {
    width: 90vw;
    position: absolute;
    bottom: 0;
    height: 80vh;
    z-index: 200;
    > img {
        width: 30%;
        height: 90%;
        position: absolute;
        bottom: 0;
        left: 90px;
    }
}

.scroll-container {
    @include flex-column;
    position: absolute;
    bottom: 0;
    left: 60%;
    font-family: $font-montserrat;
    hr {
        width: 2px;
        height: 250px;
        background-color: $primary-blue;
        border: none;
    }
}

.social-buttons {
    @include flex-column;
    gap: 30px;
    position: absolute;
    bottom: 60px;
    right: 90px;
    img {
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: transform 0.125s ease;

        &:hover {
            transform: translateX(-15px);
        }
    }
}
