<section class="atf-section">
  <img
    class="circle"
    src="/assets/img/design-only/design-circle.png"
    alt="design circle"
  />
  <img class="logo" src="/assets/img/logo.png" alt="logo" />
  <div class="headlines-container">
    <div class="headlines">
      <h2>Hello! I am Amalia</h2>
      <h1>
        FRONTEND
        <br />
        DEVELOPER
      </h1>
    </div>
  </div>
  <div class="scroll-container">
    <span>SCROLL</span>
    <hr />
  </div>
  <div class="profile-picture">
    <img src="/assets/img/user-img.png" alt="profile picture" />
  </div>
  <div class="social-buttons">
    <img
      class="github-icon"
      src="/assets/img/social-buttons/github-icon.png"
      alt="github icon"
    />
    <img
      class="mail-icon"
      src="/assets/img/social-buttons/mail-icon.png"
      alt="mail icon"
    />
    <img
      class="linkedin-icon"
      src="/assets/img/social-buttons/linkedin-icon.png"
      alt="linkedin icon"
    />
  </div>
</section>
