@import "./../../../styles/styles.scss";

.atf-section {
    height: 100vh;
    padding: $component-padding;
    box-sizing: border-box;
    background: $gradient-white;
}

.circle {
    position: absolute;
    top: -80px;
    left: -100px;
    width: clamp(250px, 43vw, 600px);
    height: clamp(250px, 43vw, 600px);
    z-index: 150;
    pointer-events: none;
}
.logo {
    z-index: 250;
    display: flex;
    position: absolute;
    top: 30px;
    left: 20px;
    @include logo;
}

.headlines-container {
    position: absolute;
    right: 90px;
    top: 30vh;
    .headlines {
        @include flex-column;
        align-items: flex-start;
        width: fit-content;
        gap: 24px;
        h2 {
            font-family: $font-baloo;
            font-weight: 400;
            font-size: clamp(30px, 3.5vw, 64px);
            margin: 0;
        }
        h1 {
            font-family: $font-baloo;
            font-weight: 800;
            font-size: clamp(40px, 7vw, 128px);
            line-height: clamp(40px, 7vw, 128px);
            margin: 0;
        }
    }
}

.profile-picture {
    filter: drop-shadow(-8px -7px 24px white);
    width: 40%;
    max-height: 80%;
    position: absolute;
    bottom: 0;
    left: 11vw;
    z-index: 200;
    object-fit: contain;
}

.scroll-container {
    @include flex-column;
    position: absolute;
    bottom: 0;
    left: 60%;
    font-family: $font-montserrat;
    hr {
        width: 2px;
        height: 250px;
        background-color: $primary-blue;
        border: none;
    }
}

.social-buttons {
    @include flex-column;
    gap: 30px;
    position: absolute;
    bottom: 60px;
    right: 90px;
    img {
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: transform 0.125s ease;

        &:hover {
            transform: translateX(-15px);
        }
    }
}

@media screen and (max-width: 830px) {
    .scroll-container {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        top: 24px;
        left: 8px;
        width: 75px;
        height: 60px;
    }
    .circle {
        top: -24px;
        left: -225px;
        width: 700px;
        height: 700px;
    }
    .headlines-container {
        color: white;
        z-index: 300;
        left: 10vw;
        top: 20vh;
    }
    .social-buttons {
        display: none;
    }
    .profile-picture {
        left: 0;
        width: 100%;
        max-height: 55%;
    }
}

@media screen and (max-width: 450px) {
    .circle {
        top: -5px;
        left: -350px;
    }
}

// @media screen and (max-width: 480px) {

// }
