<section class="atf-section">
  <img
    class="circle"
    src="/assets/img/design-only/design-circle.png"
    alt="design circle"
  />
  <img class="logo" src="/assets/img/logo.png" alt="logo" />
  <div class="headlines-container">
    <div class="headlines">
      <h2>{{ "hello-i-am" | translate }} Amalia</h2>
      <h1>
        {{ "frontend" | translate }}
        <br />
        {{ "developer" | translate }}
      </h1>
    </div>
  </div>
  <div class="scroll-container">
    <span>SCROLL</span>
    <hr />
  </div>
  <img
    class="profile-picture"
    src="/assets/img/profile-img.png"
    alt="profile picture"
  />
  <div class="social-buttons">
    <a target="_blank" href="https://github.com/Ama-kon">
      <img
        class="github-icon"
        src="/assets/img/social-buttons/github-icon.png"
        alt="github icon"
    /></a>
    <a href="#app-contact">
      <img
        class="mail-icon"
        src="/assets/img/social-buttons/mail-icon.png"
        alt="mail icon"
    /></a>

    <a
      target="_blank"
      href="https://www.linkedin.com/in/amalia-konstantinidou-362770251/"
    >
      <img
        class="linkedin-icon"
        src="/assets/img/social-buttons/linkedin-icon.png"
        alt="linkedin icon"
    /></a>
  </div>
</section>
