@import "./../../styles/styles.scss";

.atf-component {
    height: 100vh;
    display: block;
}

.about-me-component,
.skill-set-component {
    height: 50vh;
}

.my-work-component,
.about-me-component,
.atf-component,
.skill-set-component {
    position: relative;
}

.z-1000 {
    z-index: 1000;
}

.atf-component,
.my-work-component,
.contact-component {
    background: $gradient-white;
}

.about-me-component {
    background: $bg-white;
}

.skill-set-component,
.testimonials-component {
    background: $gradient-blue;
}
