@import "./../../../../styles/styles.scss";

section {
    width: 100%;
    @include flex-column;
    gap: $gap-40;
    box-sizing: border-box;
    position: relative;
    background: $bg-white;
    .single-project-container {
        display: flex;
        align-items: center;
        gap: $gap-40;
        padding-bottom: $gap-40;
    }
    .single-project-container:nth-of-type(2) {
        flex-direction: row-reverse;
        padding-bottom: $gap-40;
        .project-info-container {
            align-items: flex-end;
        }
    }
    .project-info-container {
        width: 50%;
        @include flex-column;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 16px;
        > h3 {
            @include h3;
        }
        .stacks {
            font-size: 20px;
        }
        .description {
            @include span-font-black;
            font-size: 16px;
        }
    }

    .img-container,
    .project-info-container {
        width: 50%;
        z-index: 10;
    }
}

.project-img {
    width: 100%;
    height: 100%;
    transition: transform 125ms ease;
    &:hover {
        transform: scale(1.1);
    }
}

h2 {
    @include h2;
}

.buttons-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    @include gradient-button;
    button {
        text-decoration: none;
        cursor: pointer;
    }
}

.circle0 {
    @include circle-width-l;
    top: 10vh;
    left: -20vh;
}

.circle1 {
    @include circle-width-xl;
    top: 40vh;
    right: -10vw;
}

.circle2 {
    @include circle-width-xs;
    top: 75vh;
    left: 0;
}

.circle3 {
    @include circle-width-m;
    bottom: -5vh;
}

@media screen and (min-height: 1650px) {
    .circle2 {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .circle1 {
        right: -24vw;
    }
    .circle2 {
        left: 5vw;
    }
}

@media screen and (max-width: 990px) {
    .single-project-container,
    .single-project-container:nth-of-type(2) {
        flex-direction: column !important;
        height: auto;
        .img-container {
            width: 90%;
            align-items: center;
        }
        .project-info-container {
            width: 100%;
            align-items: center !important;
        }
        .description {
            text-align: center !important;
        }
    }

    .circle1 {
        bottom: 25vh;
        top: unset;
    }
    .circle3 {
        @include circle-width-s;
        bottom: -4vh;
        left: -9vw;
    }
}

@media screen and (max-width: 750px) {
    .circle0 {
        @include circle-width-m;
        left: -20vw;
        top: 0;
    }
    .circle2 {
        top: 80vh;
        left: -7vw;
    }
}

@media screen and (max-width: 720px) {
    .circle3 {
        left: -3vw;
        bottom: -2vh;
    }
}

@media screen and (max-width: 600px) {
    .circle1 {
        @include circle-width-l;
        top: unset;
        bottom: 30vh;
    }
    .circle3 {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .circle1 {
        @include circle-width-m;
        bottom: 38vh;
    }
}

@media screen and (max-width: 380px) {
    .circle0 {
        top: -4vh;
    }
}
