<section>
  @for (item of [1,2,3,4]; track $index) {
  <img
    class="circle{{ $index }}"
    src="/assets/img/design-only/design-circle.png"
    alt="design circle"
  />
  } @for (project of projects; track project) {
  <div class="single-project-container">
    <div class="img-container">
      <img class="project-img" src=" {{ project.img }}" alt="" />
    </div>
    <div class="project-info-container">
      <h3>{{ project.title }}</h3>
      <span class="stacks">{{ project.stack }}</span>
      <span class="description">{{ project.description | translate }}</span>
      <div class="buttons-container">
        <button class="gradient-button">
          <a target="_blank" href="{{ project.github }}">GitHub</a>
        </button>
        <button class="gradient-button">
          <a target="_blank" href="{{ project.live }}">Live</a>
        </button>
      </div>
    </div>
  </div>

  } @empty {
  <span>Coming soon</span>span> }
</section>
