@import "./../../../../styles/styles.scss";

.mobile-nav-container {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $gradient-white;
    @include flex-column;
    align-items: center;
    gap: 8vh;
    .links-container {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 10vh auto;
        a {
            text-decoration: none;
            color: $primary-blue;
            font-size: 24px;
            &:hover {
                font-weight: 700;
            }
        }
    }
    #german,
    #english {
        border: none;
        background-color: unset;
        font-size: 14px;
        color: $primary-blue;
        cursor: pointer;
        &:hover {
            font-weight: 700;
        }
    }
}
