<div class="mobile-nav-container">
  <div class="links-container">
    <a (click)="closeMobileNav()" [routerLink]="['/']" fragment="about-me">{{
      "about-me" | translate
    }}</a>
    <a (click)="closeMobileNav()" [routerLink]="['/']" fragment="skillset">{{
      "skill-set" | translate
    }}</a>
    <a (click)="closeMobileNav()" [routerLink]="['/']" fragment="my-work">{{
      "my-work" | translate
    }}</a>
    <a (click)="closeMobileNav()" [routerLink]="['/']" fragment="contact">{{
      "contact" | translate
    }}</a>
    <div>
      <button id="german" (click)="switchLanguage('de'); closeMobileNav()">
        DE
      </button>
      |
      <button id="english" (click)="switchLanguage('en'); closeMobileNav()">
        EN
      </button>
      |
      <button id="greek" (click)="switchLanguage('gr'); closeMobileNav()">
        GR
      </button>
    </div>
  </div>
</div>
