@import "./../../styles/styles.scss";

main {
    padding: $component-padding;
    background: $bg-white;
    display: flow;
    height: 100%;
    z-index: 500;
    margin-top: 12vh !important;
}

@media (max-width: 700px) {
    main {
        padding: 20px;
        text-align: left;
    }
}
