<main>
  <h1>{{ "legal-notice-h1" | translate }}</h1>

  <section>
    {{ "legal-notice-section-intro" | translate }}
    <br />
    <br />
    <b>Amalia Konstantinidou</b>
    <br />
    Rohrlachstrasse 93
    <br />
    67063 Ludwigshafen
    <br />
    <br />
    <b>{{ "legal-notice-contact-info" | translate }}</b>

    <br />E-Mail: amalia_k&#64;gmx.de
    <br />
    {{ "legal-notice-phone" | translate }}
    <br />
    {{ "legal-notice-source" | translate }}
  </section>
  <br />
  <h2>{{ "data-protection-h2" | translate }}</h2>
  <section>
    <h3>{{ "legal-notice-header-1" | translate }}</h3>
    <span>{{ "legal-notice-text-1" | translate }}</span>
    <br />
    <br />
    <h3>{{ "legal-notice-header-2" | translate }}</h3>
    <span>{{ "legal-notice-text-2" | translate }}</span>
    <br />
    <br />
    <h3>{{ "legal-notice-header-3" | translate }}</h3>
    <span>{{ "legal-notice-text-3" | translate }}</span>
  </section>
</main>
