<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field appearance="outline" class="field">
      <mat-label>{{ "your-name" | translate }}</mat-label>
      <input matInput required formControlName="name" />
      <mat-icon
        matSuffix
        *ngIf="contactForm.get('name')?.touched"
        [style.color]="contactForm.get('name')?.valid ? 'green' : 'red'"
      >
        {{ contactForm.get("name")?.valid ? "check_circle" : "error" }}
      </mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="field">
      <mat-label>{{ "your-email" | translate }}</mat-label>
      <input
        matInput
        required
        formControlName="email"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
      />
      <mat-icon
        matSuffix
        *ngIf="contactForm.get('email')?.touched"
        [style.color]="contactForm.get('email')?.valid ? 'green' : 'red'"
      >
        {{ contactForm.get("email")?.valid ? "check_circle" : "error" }}
      </mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="field">
      <mat-label>{{ "your-message" | translate }}</mat-label>
      <textarea matInput required formControlName="message"></textarea>
      <mat-icon
        matSuffix
        *ngIf="contactForm.get('message')?.touched"
        [style.color]="contactForm.get('message')?.valid ? 'green' : 'red'"
      >
        {{ contactForm.get("message")?.valid ? "check_circle" : "error" }}
      </mat-icon>
    </mat-form-field>
  </p>

  <mat-checkbox color="primary" formControlName="checkbox">
    {{ "privacy-1" | translate }}
    <a target="_blank" href="imprint">{{ "link-privacy" | translate }}</a>
    {{ "privacy-2" | translate }}
    <mat-error *ngIf="submitted && contactForm.get('checkbox')?.value == false">
      {{ "privacy-error" | translate }}</mat-error
    >
  </mat-checkbox>

  <div class="button-container">
    <button
      [ngClass]="contactForm.valid ? 'gradient-button' : 'disabled-button'"
      type="submit"
    >
      <span>{{ "send" | translate }}</span>
    </button>
  </div>
</form>

<div class="success">
  <span>{{ "successfully" | translate }}</span>
</div>
<div class="blur-container"></div>
