@import "./../../../../styles/styles.scss";

form {
    @include flex-column;
    width: 100%;
    gap: 15px;
    .field {
        width: 100%;
        max-width: 500px;
    }

    .button-container {
        @include gradient-button;
        text-align: center;
        button {
            text-decoration: none;
            cursor: pointer;
        }
    }
}
