@import "./../../../../styles/styles.scss";

form {
    @include flex-column;
    width: 100%;
    gap: 15px;
    .field {
        width: 100%;
        max-width: 500px;
    }

    .button-container {
        @include gradient-button;
        text-align: center;
        button {
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.blur-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(197, 195, 195, 0.5);
    z-index: 5;
}

.success {
    display: none;
    position: absolute;
    width: 100vw;
    // max-width: 1500px;
    height: 20vh;
    background: azure;
    align-items: center;
    justify-content: center;
    line-height: 32px;
    top: 26vh;
    background: $gradient-white;
    z-index: 10;
    left: 0;

    > span {
        font-family: $font-baloo;
        font-size: 24px;
        font-weight: 600;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(40px);
    }
}
