@import "./../../../styles/styles.scss";

section {
    padding: $component-padding;
    @include flex-column;
    gap: $gap-40;
    background: $gradient-white;
    position: relative;
    h2 {
        @include h2;
    }
    .text-form-container {
        display: flex;
        width: 100%;
        gap: $gap-40;
    }
}

.contact-text {
    width: 50%;
    @include flex-column;
    gap: $gap-40;
    h3 {
        @include h3;
    }
    .contact-me-text {
        @include span-font-black;
    }
}

.contact-form {
    display: inline-flex;
    width: 50%;
}

.circle0 {
    @include circle-width-s;
    top: 40px;
    right: 80px;
}

.circle1 {
    @include circle-width-m;
    bottom: 4vh;
    left: 15vw;
}

.circle2 {
    @include circle-width-xs;
    bottom: 40px;
    right: 80px;
}

@media (max-width: 1130px) {
    .circle1 {
        @include circle-width-s;
    }
    .circle2 {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .text-form-container {
        flex-direction: column;
        .contact-text,
        .contact-form {
            width: 100%;
        }
    }
}

@media screen and (max-width: 700px) {
    section {
        padding: $component-padding-responsive;
    }
    .circle0 {
        @include circle-width-xs;
        top: 2vh;
        right: 2vw;
    }
    .circle1 {
        display: none;
    }
}
