<section>
  <div class="max-width">
    @for (item of [1,2]; track $index) {
    <img
      class="circle{{ $index }}"
      src="/assets/img/design-only/design-circle.png"
      alt="design circle"
    />
    }
    <h2>{{ "contact" | translate }}</h2>
    <div class="text-form-container">
      <div class="contact-text">
        <h3 data-aos="slide-right" data-aos-duration="1000">
          {{ "problem-to-solve" | translate }}
        </h3>
        <span class="contact-me-text">
          {{ "contact-me-text" | translate }}</span
        >
        <span data-aos="slide-right" data-aos-duration="1000"
          >{{ "need-developer" | translate
          }}<b>{{ "contact-me!" | translate }}</b></span
        >
      </div>
      <div class="contact-form">
        <app-contact-form></app-contact-form>
      </div>
    </div>
    <a href="#atf-component">
      <div class="top-btn" role="img" aria-label="scroll to top button"></div>
    </a>
  </div>
</section>
