@import "~@angular/material/theming";

// Definiere die Primärfarbe (533B4D)
$my-primary: (
    50: #f2e9f1,
    100: #d7b8c2,
    200: #c1a0b4,
    300: #a87b8b,
    400: #8e6070,
    500: #533b4d,
    // Hauptfarbe
    600: #4c3343,
    700: #442c3a,
    800: #3a242f,
    900: #2d1d23,
    A100: #f4d2d4,
    A200: #eeb1b3,
    A400: #d68287,
    A700: #b75a64,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff
    )
);

// Definiere die Akzentfarbe (freundliche Farben, passend zur Primärfarbe)
$my-accent: mat-palette($mat-pink, 200, 400, 600);

// Definiere die Warnfarbe
$my-warn: mat-palette($mat-red);

// Erstelle das Thema
$my-theme: mat-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent,
            warn: $my-warn
        ),
        typography: mat-typography-config()
    )
);

// Wende das Thema an
@include angular-material-theme($my-theme);
