// @use "@angular/material" as mat;
@import "./typography";
@import "./mixins";

// @include mat.core();

// $blue-theme: mat.define-light-theme(
//   (
//     color: (
//       primary: mat.define-palette(mat.$blue-palette),
//       accent: mat.define-palette(mat.$light-blue-palette)
//     )
//   )
// );

// @include mat.all-component-themes($blue-theme);

$component-padding: 50px 90px;

$bg-white: white;

$font-montserrat: "Montserrat", sans-serif;
$font-baloo: "Baloo 2", sans-serif;
$font-blue: #5988ff;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  scroll-behavior: smooth;
  color: $font-blue;
}
