@import "./../../../styles/styles.scss";

footer {
    padding: $component-padding;
    background: $gradient-blue;
    font-family: $font-montserrat;
    font-size: 18px;
}

.container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 33%;
        img {
            @include logo;
            filter: invert(1);
        }
    }

    .copyright {
        color: white;
        width: 33%;
        text-align: center;
    }
    .social-buttons {
        display: flex;
        gap: 2vw;
        width: 33%;
        justify-content: flex-end;
        img {
            height: 35px;
            width: 35px;
            filter: brightness(0) invert(1);
            transition: all 125ms ease;
            cursor: pointer;
            &:hover {
                transform: scale(1.17);
            }
        }
    }
}

.legal-notice {
    text-align: center;
    padding: 10px;
    a {
        text-decoration: none;
        color: white;
        position: relative;
        font-size: 16px;
        @include legal-notice-hover;
    }
}

@media screen and (max-width: 780px) {
    .container-top {
        flex-direction: column;
        gap: 28px;
    }
    .copyright {
        width: 100% !important;
        margin: 0 auto;
    }
    .logo {
        text-align: center;
    }
    .social-buttons {
        justify-content: center !important;
        width: 100% !important;
    }
    .legal-notice {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 700px) {
    footer {
        padding: $component-padding-responsive;
    }
}
