@import "./../../styles.scss";

.atf-section {
    height: 100vh;
    padding: $component-padding;
    box-sizing: border-box;
    background: linear-gradient(rgb(255, 255, 255), rgb(234, 240, 255));
}

.headlines-container {
    position: absolute;
    right: 90px;
    top: 20%;
    .headlines {
        @include flex-column;
        align-items: flex-start;
        width: fit-content;
        h2 {
            font-family: $font-baloo;
            font-weight: 400;
            font-size: 64px;
            margin: 0;
        }
        h1 {
            font-family: $font-baloo;
            font-weight: 800;
            font-size: 128px;
            line-height: 128px;
            margin: 0;
        }
    }
}

.profile-picture {
    width: 90vw;
    position: absolute;
    bottom: 0;
    height: 80vh;
    > img {
        width: 40%;
        height: 90%;
        position: absolute;
        bottom: 0;
    }
}

.social-buttons {
    @include flex-column;
    gap: 30px;
    position: absolute;
    bottom: 60px;
    right: 90px;
    img {
        width: 35px;
        height: 35px;
        cursor: pointer;

        // &:hover {

        // }
    }
}
